@page
@model IndexModel
@{
    ViewData["Title"] = "Informacje";
}

<div class="container text-center mt-5">
    <h1 class="display-5">Aplikacja demonstracyjna Sim Web</h1>
    <p class="lead">Wizualizacja symulacji z wykorzystaniem programowania obiektowego w C# i Razor Pages.</p>
    <p class="text-muted">Mapa typu torus.</p>
    <p class="fw-bold">Sekwencja ruchów: <span class="text-primary">dlrludluddrlrlr</span>.</p>
</div>